* {
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
}

.app {
  display: flex;
  background-color: black;
  font-family: 'Orbitron', serif;
  min-height: 100vh;
  color: #4af626;
}

.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  position: fixed;
  align-items: center;
  height: 100%;
  background-color: rgb(43, 43, 43);
  width: 150px;
  padding: 10px;
}

.tables {
  display: flex;
  width: 100%;
  background-color: #202020;
  padding: 5px;
}

.tables button {
  margin: 1px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.sidebar button:hover {
  background: #ccc;
}

.main {
  margin-left: 170px;
  flex-grow: 1;
  overflow-x: auto; /* Yatay kaydırma */
  padding: 20px;
}

.filters {
  margin: 10px 0;
}

.filter {
  margin: 10px 0;
  width: 100%;
}

.filter input {
  background: #202020;
  outline: none;
  color: #ccc;
  padding: 2px;
  border: 1px #ccc solid;
  margin-top: 1px 0;
}

.results table {
  width: 100%;
  border-collapse: collapse;
}

.results th,
.results td {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 15px;
  text-align: left;
}
